<h1>プロフィールの編集</h1>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: @user, local: true) do |f| %>
    
      <% if @user.icon? %>
        <%= image_tag @user.icon.thumb.url, class: "user-icon" %>
      <% else %>
        <%= image_tag "/assets/default.jpg", size: "70x70", class: "user-icon" %>
      <% end %>
      <button type="button" class="btn btn-outline-secondary rounded-pill">
         <%= f.file_field :icon %>
      </button>
      
      <div class="form-group">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :profile, 'プロフィール' %>
        <%= f.text_field :profile, class: 'form-control' %>
        
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label :password, 'パスワード(半角英数字・大文字・小文字をそれぞれ1文字以上含む)' %>
        <%= f.password_field :password, class: 'form-control' %>
        
         <%= f.label :password_confirmation, '確認用パスワード' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        
        <%= f.submit "完了", class: "btn btn-primary btn-block mt-4" %>
      </div>
    <% end %>
  </div>
</div>