<div class="media row mt-4">
  <%= image_tag @post.image.url, size: "400x400", class: "col-sm-6" if @post.image? %>
  <div class="media-body col-sm-6">
    <div class="post-detail">
      <h3>場所：<%= link_to @post.spot, maps_path %></h3>
      <p>ユーザ名：<%= link_to @post.user.name, user_path(@post.user) %></p>
      <p><%= @post.content %></p>
    </div>
  </div>
</div>

<div class="col-sm-10 offset-sm-1">
  <div class="comment-form">
    <h3>コメント<i class="fas fa-comment"></i></h3>
      <ul class="list-unstyled">
        <% @comments.each do |comment| %>
        <li class="media">
          <%= image_tag "/assets/default.jpeg", :size => '70x70' %>
          <div class="media-body">
            <div class="ml-4">
              <%= link_to comment.user.name, user_path(comment.user) %>
            </div>
            <div class="balloon">
              <p><%= comment.content %></p>
            </div>
            <% if current_user == comment.user %>
              <%= link_to "削除", comment, method: :delete, class: 'btn btn-danger ml-4' %>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
  </div>
</div>

<aside class=" offset-sm-6 col-sm-4 mt-4">
  <%= form_with(model: @comment, local: true) do |f| %>
  <%= hidden_field_tag :post_id, @post.id %>
    <div class="form-group mb-0">
      <%= f.text_area :content, class: 'form-control', row: 5 %>
    </div>
    <%= f.submit '送信', class: 'btn btn-primary btn-block' %>
  <% end %>
</aside>