<div class="media row mt-4">
  <%= image_tag @post.image.url, size: "400x400", class: "col-sm-6" if @post.image? %>
  <div class="media-body col-sm-6">
    <div class="post-detail">
      <h3>場所:<%= @post.spot %></h3>
      <div id="gmap_wrapper">
        <div id="map"></div>
      </div>
      <p>ユーザ名：<%= link_to @post.user.name, user_path(@post.user) %></p>
      <p><%= @post.content %></p>
      <% unless current_user == @post.user %>
        <%= render 'favorites/favorites_button', post: @post %>
      <% end %>
    </div>
  </div>
</div>

<%#コメント欄%>
<%= render 'comments/comments', comments: @comments %>
  
  <aside class=" offset-sm-6 col-sm-4 mt-4">
    <%= form_with(model: @comment, local: true) do |f| %>
    <%= hidden_field_tag :post_id, @post.id %>
      <div class="form-group mb-0">
        <%= f.text_area :content, class: 'form-control', row: 5 %>
      </div>
      <%= f.submit '送信', class: 'btn btn-primary btn-block' %>
    <% end %>
  </aside>

<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '地名：<%= @post.spot %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>