<header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a href="/" class="navbar-brand">仮タイトル</a>
    
    <ul class="navbar-nav w-50 nav-justified">
        <li class="nav-item"><%= link_to 'HOME', root_path %></li>
      <% if logged_in? %>
        <li class="nav-item"><%= link_to 'Mypage', current_user %></li>
        <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
      <% else %>
        <li class="nav-item"><%= link_to '登録はこちらから', signup_path %></li>
        <li class="nav-item"><%= link_to 'ログイン', login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>